<template>
<div class="background">
    <b-container>
      <b-row>
        <b-col
          cols="6"
          offset="3">
          <div id="example">
            <cgList>
            </cgList>
            <router-link to="success">success</router-link>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import listModule from '@/components/list/store';

export default {
  name: 'login',
  components: {
    cgList: () => import('@/components/list/template'),
  },
  created() {
    const name = 'example';
    const store = this.$store;
    // register a new module only if doesn't exist
    if (!(store && store.state && store.state[name])) {
      store.registerModule(name, listModule);
      console.log(`register module: ${name}`);
    } else {
      // re-use the already existing module
      console.log(`reusing module: ${name}`);
    }
  },
};
</script>

<style scoped>
.background{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image:url('../assets/bread.jpg');
  background-position: 50%;
  background-size: cover;
}
#example{
  margin-top:15vh;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding:3vh;
  box-shadow: 0.1vh 0.1vh 10px rgba(0,0,0,0.5);
}
</style>
